<div class="login-card">
  <div class="profile-icon"></div>
  <h2 class="title">Login to your account</h2>
  
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="form-label">Email Address</label>
      <div style="position: relative;">
        <input 
          type="email" 
          class="form-input email-input" 
          formControlName="email" 
          placeholder="james@orange.com"
        >
        <div class="input-icon">
            <i class="fa-solid fa-envelope"></i>
        </div>
      </div>
<div *ngIf="email?.invalid && (email?.dirty || email?.touched || formSubmitted)" class="error">
        <div *ngIf="email?.errors?.['required']">Email is required.</div>
        <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
        <small *ngIf="email?.errors?.['pattern']">
          Email must be an @orange.com address
        </small>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">Password</label>
      <div class="password-input-container">
        <input 
          [type]="showPassword ? 'text' : 'password'" 
          class="form-input password-input" 
          formControlName="password" 
          placeholder="enter your password"
        >
        <div class="input-icon">
          <i class="fas fa-lock"></i>
        </div>
        <div class="eye-icon" (click)="togglePassword()" style="cursor: pointer;">
          <i class="fas" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"></i>
        </div>
      </div>
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched || formSubmitted)" class="error">
        <small *ngIf="password?.errors?.['required']">Password is required</small>
        <small *ngIf="password?.errors?.['minlength']">
          Password must be at least 8 characters
        </small>
        <small *ngIf="password?.errors?.['pattern']">
          Password must include an uppercase letter, a number, and a special character
        </small>
      </div>
    </div>

    <div class="form-footer">
      <div class="checkbox-container">
          <input 
          type="checkbox" 
          id="remember" 
          class="checkbox" 
          formControlName="keepLoggedIn"
        >
        <label for="remember" class="checkbox-label">Keep me logged in</label>
      </div>
    </div>

    <button type="submit" class="login-button" [disabled]="profileForm.invalid">
      Login
    </button>
  </form>
</div>