    <div class="login-card">
        <div class="profile-icon"></div>
        <h2 class="title">Login to your account</h2>
        
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="form-label">Email Address</label>
                <div style="position: relative;">
                    <input type="email" class="form-input email-input" formControlName="email" placeholder="james@gmail.com">
                    <div class="input-icon">📧</div>
                </div>
                 <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error">
            <div *ngIf="email?.errors?.['required']">Email is required.</div>
            <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
        </div>
            </div>

            <div class="form-group">
                <label class="form-label">Password</label>
                <div class="password-input-container">
                    <input type="password" class="form-input password-input" formControlName="password" placeholder="••••••••••">
                    <div class="input-icon">🔒</div>
                    <div class="eye-icon">👁</div>
                </div>
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error">
            <div *ngIf="password?.errors?.['required']">Password is required.</div>
            <div *ngIf="password?.errors?.['minlength']">
                Password must be at least 6 characters long.
            </div>
        </div>
            </div>

            <div class="form-footer">
                <div class="checkbox-container">
                    <input type="checkbox" id="remember" class="checkbox">
                    <label for="remember" class="checkbox-label">Keep me logged in</label>
                </div>
                <a href="#" class="forgot-password">Forgot password?</a>
            </div>

            <button type="submit"  class="login-button">Login</button>
        </form>

    </div>
