/* You can add global styles to this file, and also import other style files */
:root{
      --form-bg: rgba(255, 255, 255, 0.1);
        --primary-color: #4A90E2;
  --primary-dark: #357ABD;
  --text-color: white;
    --accent-color: #6eabf3;


}
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #e8ebef;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }